<div class="ten columns animated fadeInDown">
    <section id="logo"><span class="slate">Slate</span>
    <span class="description">The Reusable Checklist</span>
    </section>
  </div>
  <div class="six columns">
    <section id="login">
       <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign In", class: "button" %>

      <% end %>

    <small>New user? <%= link_to "Sign up now!", signup_path %></small>
    </section>
  </div>